@import url('./fonts.scss');
@import url('./slider.scss');
@import url('./messages_group.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	// Colors
	--c-dark: hsl(0, 0%, 7%);
	--c-light: hsl(0, 0%, 95%);
	--c-accent-1: hsl(96, 46%, 57%);
	--c-accent-2: hsl(22, 43%, 41%);
	--c-success: hsl(96, 46%, 57%);
	--c-danger: hsl(0, 51%, 56%);
	--c-warn: hsl(39, 74%, 57%);
	--c-info: hsl(209, 66%, 72%);
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--c-light);
	background-color: var(--c-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1em 0;
	padding: 0;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}

// Fix FameIndicator difference from Chrome and Firefox
input[type='range']::-webkit-slider-thumb {
	margin-top: 0px;
}

input[type='date']::-webkit-calendar-picker-indicator {
	background: transparent;
	bottom: 0;
	color: transparent;
	cursor: pointer;
	height: auto;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

.input-no-style {
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.input-no-style:focus {
	outline: none;
}

[type='search']::-webkit-search-cancel-button {
	filter: invert(0.8);
}

// Baground ellipses

.ellipse-right,
.ellipse-left {
	transition: 1s;
	width: 50rem;
	height: 50rem;
	filter: blur(80px);
	border-radius: 9999px;

	@media only screen and (max-width: 768px) {
		width: 20rem;
		height: 20rem;
		filter: blur(40px);
	}

	@media only screen and (min-width: 768px) and (max-width: 1024px) {
		width: 30rem;
		height: 30rem;
		filter: blur(60px);
	}

	@media only screen and (min-width: 1024px) {
		width: 50rem;
		height: 50rem;
		filter: blur(80px);
	}
}

.ellipse-right {
	transform: translate3d(50%, -50%, 0);
	-webkit-transform: translate3d(50%, -50%, 0);
	-moz-transform: translate3d(50%, -50%, 0);
}

.ellipse-left {
	transform: translate3d(-50%, 50%, 0);
	-webkit-transform: translate3d(-50%, 50%, 0);
	-moz-transform: translate3d(-50%, 50%, 0);
}

// Remove scrollbars
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

// Chat Scroller
.scroller {
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
	overflow-anchor: auto !important;
}

.scroller .scroller-content .scroller-item {
	transform: translateZ(0);
}
